body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    /* line-height: 1.5; */
    color: black;
    background-color: white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
    /* margin: 0.5em 0; */
    font-size: 1.75rem;
}

p {
    margin: 0 0 1.5em;
}

/* Elements
  --------------------------------------------- */
/* Links
  --------------------------------------------- */
a,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

a:focus {
    outline: 1px dotted;
}

/*--------------------------------------------------------------
  # Components
  --------------------------------------------------------------*/
/* Header
  --------------------------------------------- */
.site-header {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Site-logo {
    width: 4.5rem;
    height: 5rem;
    margin-top: .5rem;
}

.site-navigation ul {  /* took the hamburger menu code from class lecture */
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #ffffff;
}

.site-navigation.toggled ul {
    display: block;
}

.site-navigation a {
    display: block;
    padding: 1rem;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 1.5rem;
    color: #000000;
}
.nav-menu li a:hover,
.nav-menu li a:focus{
    background-color: #000000;
    color: #ffffff;
}
.menu-toggle {
    display: block;
    background-color: transparent;
    border: 0;
    padding: 1rem;
}

.menu-toggle:focus {
    border: 0;
    outline: 1px dotted;
}

@media (min-width: 50em) {
    .menu-toggle {
        display: none;
    }

    .site-navigation {
        flex: 1 1 auto;
        padding: 0 1rem;
    }

    .site-navigation ul,
    .site-navigation.toggled ul {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 0;
    }

    .site-navigation a {
        line-height: 4.5rem;
        padding: 0 1rem;
    }
}
.video-background {
    position: fixed;
    width: 100%;
    height: calc(100vh - 88px);
    z-index: 0;
    top: 88px;
}
.video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); 
    z-index: 1;
}
.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.text-on-video{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
    position: absolute;
    top: 80%;
    left: 3%;
}
.text-on-video h1{
    margin-bottom: 0.7rem;
    font-size: 5vh;
}
.text-on-video p{
    font-size: 2.5vh;
}
/* Content Wrapper for the Sections */
.content-wrapper {
    position: relative;
    top: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Add spacing between sections */
    padding: 2rem;
    margin: 96px auto 0; 
    color: white;
    text-align: center;
}

/* Info Section Style */
.info-section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 1rem;
    height: fit-content;
    align-self: center;
    max-width: 400px;
}
.info-section a{
    color: white;
    text-decoration: underline;
}
.info-section a:focus{
    background-color: rgba(0, 0, 0, 0.7);
}
.info-section img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 1rem auto;
    border: .5rem solid;
}
.LearnMore{
    display: block; 
    width: fit-content; 
    margin: 1rem auto; 
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
h2{
    width: 100%;
    text-align: center;
}
.info-section p{
    text-align: justify;
    padding: .5rem;
}
@media(min-width: 50em){
    .content-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 1fr;
        gap: 1rem;
        justify-items: center;
    }
    .info-section {
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        height: 100%;
        max-width: 100%;
    }   
}
@media(min-width: 90em){
    .info-section p{
        width: 50%;
        align-self: center;
    }
    .info-section img {
        max-width: 300px;
        height: auto;
        border-radius: 8px;
        display: block;
        margin: 0 auto;
        border: .5rem solid;
    }
}
#site-footer {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 6;
    gap:0;
    padding: 0rem;
    margin: 0;
}
#site-footer p{
    color: white;
    margin: .5rem;
    padding: 0px 10px;
}
#contactMe p{
    margin: 1rem 0;
    text-align: center;
}
#site-footer li{
    display: inline-block;
}
.Contact svg{
    fill: white;
}
.Contact ul{
    display: flex;
    gap: .5rem;
    margin: .5rem 1rem;
    padding: 0px 20px 5px
}
@media(min-width: 30em){
    #site-footer{
        flex-direction: row;
    }
    .Contact ul{
        margin: .5rem 1rem 1rem;
    }
    
}